name: 04 - Commit stage

on:
  push:
    branches:
      - main
      - release/*
  pull_request:
    branches:
      - main
      - release/*
  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-20.04
    name: Build and publish
    outputs:
      dockerImageTag: ${{ steps.dockerImageTag.outputs.tag }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: maven

      - name: Build
        run: mvn -B install -DskipITs

      - name: Create docker image
        run: mvn jib:dockerBuild -pl :web-api

      - name: Extract application version
        run: echo "POM_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV

      - name: Create Docker image tag
        run: echo "DOCKER_IMAGE_TAG=$(date +'%Y%m%d%H%M%S')-${GITHUB_SHA}" >> $GITHUB_ENV

      #- name: Publish Docker image to ECR registry
      #  working-directory: deployment
      #  env:
      #    AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #    AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #    AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      #    AWS_REGION: ${{ vars.AWS_REGION }}
      #    AWS_APPLICATION_NAME: ${{ vars.AWS_APPLICATION_NAME }}
      #  run: |
      #    docker tag dk.bringlarsen/springboot-exploration ${{secrets.AWS_ACCOUNT_ID}}.dkr.ecr.${{vars.AWS_REGION}}.amazonaws.com/springboot-exploration:${DOCKER_IMAGE_TAG}
      #    docker tag dk.bringlarsen/springboot-exploration ${{secrets.AWS_ACCOUNT_ID}}.dkr.ecr.${{vars.AWS_REGION}}.amazonaws.com/springboot-exploration:${POM_VERSION}
      #    docker tag dk.bringlarsen/springboot-exploration ${{secrets.AWS_ACCOUNT_ID}}.dkr.ecr.${{vars.AWS_REGION}}.amazonaws.com/springboot-exploration:latest
      #    aws ecr get-login-password --region ${{vars.AWS_REGION}} | docker login --username AWS --password-stdin ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{vars.AWS_REGION}}.amazonaws.com
      #    docker push ${{secrets.AWS_ACCOUNT_ID}}.dkr.ecr.${{vars.AWS_REGION}}.amazonaws.com/springboot-exploration:${DOCKER_IMAGE_TAG}
      #    docker push ${{secrets.AWS_ACCOUNT_ID}}.dkr.ecr.${{vars.AWS_REGION}}.amazonaws.com/springboot-exploration:${POM_VERSION}
      #    docker push ${{secrets.AWS_ACCOUNT_ID}}.dkr.ecr.${{vars.AWS_REGION}}.amazonaws.com/springboot-exploration:latest
